*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
body{
    overflow-x: hidden;
}
html{
    overflow-x: hidden;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: black;
}
.bord,
.bord2{
    width: 78vmin;
    height: 80vmin;
    /* background-color: rgb(29, 29, 29); */
    border: 3px solid rgb(3, 2, 2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 10px 10px rgb(44, 44, 44);
}
 .converImg{
    width: 100%;
    height: 80%;
}
.converImg img{
    width: 100%;
    height: 100%;
    /* border: 2px solid green; */
    border-radius: 10px 10px 0 0;
}
.buttons{
    width: 100%;
    height: 20%; 
}
#myProgressBar{
    width: 80%;
    /* margin: 10px 10%; */
    cursor: pointer;
}
.mydiv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3px;
}
.bottomSection{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10%;
    color: white;
}
.buttons-icons i{
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 3px;
}
#playGif{
    transition: all 0.3s ease-in-out;
    opacity: 0;
}
p{
    color: white;
}


.songs{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid blue;
    background-color: white;
    color: black;
    padding-right: 5px;
    border-radius: 50px;
    cursor: pointer;
}
.songs img{
    border-radius: 50%;
    padding: 10px;
}
.songs p{
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}
#songItems{
    margin: 10px 0px;
    border: 3px solid rgb(102, 102, 98);
}

#menuList{
    color: white;
    background-color: black;
    align-items: right;
    padding: 10px 30px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
.display-none{
    transition: all 1s ease-in-out;
    display: none;
}
#songName{
    font-size:10px;
}
@media (max-width:400px){
    .bord{
        width: 100%;
        height: 100%;
        /* background-color: red; */
    }
}
